<ion-header>
  <ion-navbar>
    <ion-title>Curriculum Vitae</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <img class= "imgProfil" src="../assets/kitten1.jpg" alt="" *ngIf="!base64Image">
  <img [src]="base64Image" *ngIf="base64Image" />

  <div class="textCenter"> <button ion-button (click)="takePicture()">{{ 'CHANGEPICTURE' | translate }}</button> </div>

  <h2 class="textCenter">Laura Daufeld</h2>
  <p class="textCenter"> 23/05/1992
  <br/> 06.87.63.95.24
  <br/> laura.daufeld@gmail.com</p>

  <p class="textCenter"> 37 avenue des sources
  <br/>  06270 Villeneuve-Loubet</p>
  <p class="textCenter"> Permis B</p>

</ion-content>
